.menus{
    background-color:black ;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 1355px;
    height: 80px;
    display: block;

}

.contato{
    background-color:black;
    color: white
    text-align: center;
    top: 10px;
    left: 1270px;
    position: absolute;
    width: 70px;
    height: 50px;
    border-radius: 30px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    display: flex;
    font-size: 20px; /* Define o tamanho em pixels */
    font-weight: bold; /* Define o texto em negrito */  
}

.bt-contato{
    color: white;
    font-size: 20px; /* Define o tamanho em pixels */
    font-weight: bold; /* Define o texto em negrito */  
    text-decoration: none;
}
.planos{
    background-color:black;
    color: white
    text-align: center;
    top: 10px;
    left: 1170px;
    position: absolute;
    width: 70px;
    height: 50px;
    border-radius: 30px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    display: flex;
    font-size: 20px; /* Define o tamanho em pixels */
    font-weight: bold; /* Define o texto em negrito */ 
}
.bt-planos{
    color: white;
    font-size: 20px; /* Define o tamanho em pixels */
    font-weight: bold; /* Define o texto em negrito */  
    text-decoration: none;
}

.home{
    background-color: black;
    color: white
    text-align: center;
    top: 10px;
    left: 1070px;
    position: absolute;
    width: 70px;
    height: 50px;
    border-radius: 30px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    display: flex;
    font-size: 20px; /* Define o tamanho em pixels */
    font-weight: bold; /* Define o texto em negrito */
}

.bt-home{
    color: white;
    font-size: 20px; /* Define o tamanho em pixels */
    font-weight: bold; /* Define o texto em negrito */  
    text-decoration: none;
}
